body{
    font-family: Arial, sans-serif;
    margin: 0 auto;
    max-width: 600px;
    padding: 20px; 
}

h1{
    padding: 8px;
    width: 100%; 
    margin: 10px 0; 
}

button:hover{
    background-color: #45a049;
}

#loiChao{
    margin-top: 20px;
    font-size: 1.2em;
    color: green;
}